<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="MyEnergy" />
        <add connectionString="Server=MYENERGY;Database=MyEnergy;User ID=sa;Password=1234" name="MyEnergy" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
