@model MyEnergyWS.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.first_name)
    </div>

    @{
        Html.RenderAction("Exemplo", Model);
    }
    <div class="display-field">
        @Html.DisplayFor(model => model.first_name)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
